.section {
    background-color: #eeeeee;
    margin: 10px;
}

.section__title {
    border: 1px solid #dddddd;
    padding: 15px;
    background-color: white;
    font-weight: bold;
    font-size: large;
}

.section__title--checkList {
    border: none;
}

.section--checkList {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dddddd;
    background-color: white;
    font-weight: bold;
    font-size: large;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .section--checkList {
        grid-template-columns: 1fr;
    }
}