.form {
    background-color: white;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) auto;
    grid-gap: 20px;
    align-items: center;
}

@media (max-width: 768px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__button {
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    justify-self: end;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .form__button {
        grid-row-start: 2;
        width: 100%;
        margin: 5px 0px;
    }
}

.form__button:hover {
    background-color: rgb(0, 177, 177);
    transform: scale(1.1);
}

.form__button:active {
    background-color: rgb(0, 165, 165);
}

.form__field {
    border: 1px solid #dddddd;
    height: 38px;
    width: 100%;
    display: inline-block;
    padding: 5px;
}