html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #eeeeee;
  word-break: break-word;
  font-family: "Montserrat", sans-serif;
}